<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>language.playdate</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>


<h1 id=main_title>Language Playdate</h1>

<a href="http://localhost:4567"><button autofocus="autofocus" class=buttons>Home </button></a>

<a href="http://localhost:4567/organize_meetup"><button autofocus="autofocus" class=buttons>Organize</button> </a>

<button type="button" class=buttons>Join</button>
	
 <h2 class=header>Welcome to Language Playdate!</h2>

    <p id=paragraph> On this website, you  can meet up with native
    language speakers or who are learning a language you speak. You can organize groups or join a pre-existing group. Mingle with people who share your culture or
    interest in learning different languages. People can also give you tips on
    their language.</p>

    <img class=picture src="https://lh3.googleusercontent.com/-tZQ1W9d-n6c/WyPkwFeea_I/AAAAAAAAAEg/v_tx6mt9DHA3C8mzHu7tAAWaVKm8tv68QCJoC/w1060-h534-n/Word%2BArt.jpeg">














    <p>Created by Ame Funaki, Jaden Cottorone, and Lily Campbell
    Kode With Klossy Camps Denver 2018
	Language Playdate ©2018</p>
   


</body>
</html>

